common:
  image:
    repository: quay.io/pires/docker-elasticsearch-kubernetes
    tag: 5.5.2
    pullPolicy: Always
  env:
    CLUSTER_NAME: "elasticsearch-test-1"
    # Uncomment this if you get the "No up-and-running site-local (private) addresses" error
    # NETWORK_HOST: "_eth0_"

client:
  replicas: 1
  antiAffinity: "soft"
  env:
    NODE_DATA: "false"
    NODE_MASTER: "false"
    NODE_INGEST: "true"
    HTTP_ENABLE: "true"
    ES_JAVA_OPTS: "-Xms8g -Xmx8g"
  memory:
    request: "16gGi"
    limit: "16gGi"
  cpu:
    request: "2"
    limit: "2"

data:
  replicas: 4
  antiAffinity: "soft"
  env:
    NODE_DATA: "true"
    NODE_MASTER: "false"
    NODE_INGEST: "false"
    HTTP_ENABLE: "false"
    ES_JAVA_OPTS: "-Xms16g -Xmx16g"
  memory:
    request: "32gGi"
    limit: "32gGi"
  cpu:
    request: "8"
    limit: "8"

master:
  replicas: 3
  antiAffinity: "soft"
  env:
    NODE_DATA: "false"
    NODE_MASTER: "true"
    NODE_INGEST: "false"
    HTTP_ENABLE: "false"
    ES_JAVA_OPTS: "-Xms4g -Xmx4g"
    NUMBER_OF_MASTERS: "2"
  memory:
    request: "8gGi"
    limit: "8gGi"
  cpu:
    request: "1"
    limit: "1"

service:
  type: LoadBalancer
  httpPort: 9200
  transportPort: 9300
