common:
  image:
    elasticsearch: docker.elastic.co/elasticsearch/elasticsearch
    kibana: docker.elastic.co/kibana/kibana
    tag: 6.3.0
    pullPolicy: Always
  plugins:
    - repository-gcs
  keystore:
    - key: gcs.client.default.credentials_file
      secret:
        name: gcs-service-account
        key: gcs-service-account.json
      file: true
  env:
    CLUSTER_NAME: backpack-search
    XPACK_SECURITY_ENABLED: false
    XPACK_GRAPH_ENABLED: false
    XPACK_ML_ENABLED: false
    MEMORY_LOCK: false
    MINIMUM_MASTER_NODES: 2
    NETWORK_HOST: _site_
    REINDEX_REMOTE_WHITELIST: ""
    # Uncomment this if you get the No up-and-running site-local (private) addresses error
    # NETWORK_HOST: _eth0_

client:
  replicas: 1
  antiAffinity: soft
  env:
    NODE_DATA: false
    NODE_MASTER: false
    NODE_INGEST: true
    HTTP_ENABLED: true
    ES_JAVA_OPTS: -Xms4g -Xmx4g
  memory:
    request: 8G
    limit: 8G
  cpu:
    request: 1
    limit: 1
  nodeSelector:
    cloud.google.com/gke-nodepool: es-other

data:
  replicas: 4
  antiAffinity: hard
  env:
    NODE_DATA: true
    NODE_MASTER: false
    NODE_INGEST: false
    HTTP_ENABLED: false
    ES_JAVA_OPTS: -Xms16g -Xmx16g
  memory:
    request: 32G
    limit: 32G
  cpu:
    request: 7.5
    limit: 8
  storage: 512Gi
  nodeSelector:
    cloud.google.com/gke-nodepool: es-data

master:
  replicas: 3
  antiAffinity: hard
  env:
    NODE_DATA: false
    NODE_MASTER: true
    NODE_INGEST: false
    HTTP_ENABLED: false
    ES_JAVA_OPTS: -Xms3g -Xmx3g
  memory:
    request: 6G
    limit: 6G
  cpu:
    request: 1
    limit: 1
  nodeSelector:
    cloud.google.com/gke-nodepool: es-master

kibana:
  replicas: 1
  memory:
    request: 4G
    limit: 4G
  cpu:
    request: 2
    limit: 2
  nodeSelector:
    cloud.google.com/gke-nodepool: es-other

service:
  type: LoadBalancer
  httpPort: 9200
  transportPort: 9300
